<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffrey's Blog</title>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- production env -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->

    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div id="app">
        <div id="header">
            <div class="menu-item" tabindex="0" v-on:click="switchPage(0)">
                <span>剪贴板Pastor</span>
                <span v-if="which == 0" class="bar"></span>
            </div>
            <div class="menu-item" tabindex="0" v-on:click="switchPage(1)">
                <span>文件中转FileTransfer</span>
                <span v-if="which == 1" class="bar"></span>
            </div>
        </div>
        <div id="content">
            <!-- 条件渲染 -->
            <div id="pastor" v-if="which == 0">
                <div id="pastor-left">
                    <textarea name="pastor-textarea" id="pastor-textarea" cols="30" rows="10"></textarea>
                    <button id="pastor-pastebtn" v-on:click="pastor.paste()">粘贴</button>
                </div>
                <div id="pastor-right">
                    <ul id="pastor-list">
                        <li v-for="item in pastor.textlist">
                            <div class="pastor-textholder">
                                <span class="pastor-copybtn" v-on:click="copyText(item)">复制</span>
                                <pre class="pastor-text">{{item}}</pre>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="filetransfer" v-if="which == 1">
                <div id="filetransfer-left">
                    <input type="file" name="filetransfer-selector" id="filetransfer-selector">
                    <button id="filetransfer-uploadbtn" v-on:click="filetransfer.upload()">上传</button>
                </div>
                <div id="filetransfer-right">
                    <span style="font-weight: bold;font-size: large;margin-bottom: 1em;">文件列表</span>
                    <ul id="filetransfer-list">
                        <li v-for="item in filetransfer.filelist">
                            <div class="filetransfer-filehoder">
                                <a :href="filetransfer.makeFileUrl(item.name)" target="_" class="filetransfer-filelink">
                                    {{item.name}}
                                </a>
                                <span>{{item.size.toFixed(3)}}MB</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                which: 0,
                pastor: {
                    textlist: ["placeholder"],
                    loadList: function () {
                        fetch("/api/pastor/getall").then(v => v.json()).then(v => {
                            this.textlist = v.content;
                        }).catch(reason => {
                            alert("出错了");
                            console.log(reason);
                        });
                    },
                    paste: function () {
                        let text = document.getElementById("pastor-textarea").value;
                        fetch("/api/pastor/paste", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ content: text })
                        }).then(v => v.json()).then(v => this.loadList()).catch(reason => {
                            alert("出错了");
                            console.error(reason);
                        })
                    }
                },
                filetransfer: {
                    filelist: [{ name: "placeholder.txt", size: 0.3325 }],
                    loadAllFile: function () {
                        fetch("/api/file-transfer/listall").then(v => v.json()).then(v => {
                            this.filelist = v.content;
                        }).catch(reason => {
                            alert("出错了");
                            console.log(reason);
                        });
                    },
                    makeFileUrl: function (filename) {
                        return "/api/file-transfer/download?name=" + encodeURI(filename);
                    },
                    upload: function () {
                        const data = new FormData();
                        data.append("file", document.getElementById("filetransfer-selector").files[0]);
                        fetch("/api/file-transfer/upload", {
                            method: "POST",
                            body: data
                        }).then(v => v.json()).then(v => this.loadAllFile()).catch(reason => {
                            alert("出错了");
                            console.log(reason);
                        })
                    }
                },
                copyText: function (text) {
                    navigator.clipboard.writeText(text);
                },
                switchPage: function (to) {
                    this.which = to;
                    if (to == 0) {
                        this.pastor.loadList();
                        setTimeout(() => {
                            document.getElementById("pastor-textarea").focus();
                        }, 300);
                    } else if (to == 1) {
                        this.filetransfer.loadAllFile();
                    }
                }
            },
            mounted: function () {
                this.switchPage(0);
            }
        });
    </script>
</body>

</html>